*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #94b7fc;
  color: #fff;
}
.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #8cbe8a;
  color: #fff;
}
.container{
  margin-top:40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px auto;
}
.control{
  display: flex;
  align-content: center;
  justify-content: center;
}
.control .control_left, .control .control_right{
  align-items: center;
  margin: 10px;
  width: 100%;
  padding: 10px;
}
.card{
    position: relative;
}
.card img{
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

/*frente*/
.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.3s;
    position: absolute;
}
.active .front{
    transform: rotateY(0deg);
    transition-delay: 0.3s;
}

/*detras*/
.card .back{
    transition: all ease-in 0.3s;
    transition-delay: 0.3s;
}
.active .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}
